{% extends 'layouts/base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <div class="flex p-5 justify-center items-center min-h-[100vh]">
            {{ form_start(registrationForm, {
                attr: { class: "max-w-md mx-auto w-full text-white" }
            }) }}
            <h1 class="text-2xl font-bold mb-6 text-center">Sign up</h1>

            <div class="mb-4 flex flex-row justify-between">
                {{ form_row(registrationForm.first_name, {
                    attr: { class: 'block text-white py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer' }
                }) }}

                {{ form_row(registrationForm.last_name, {
                    attr: { class: 'block text-white py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer' }
                }) }}
            </div>

            <div class="mb-4">
            {{ form_row(registrationForm.email, {
                attr: { class: 'block text-white py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer' }
            }) }}
            </div>

            <div class="mb-4">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password',
                attr: { class: 'block text-white py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer' }
            }) }}
            </div>

            <div class="text-red-600">
            {{ form_errors(registrationForm) }}
            </div>

            <button class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-4 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="submit">
                Sign up
            </button>

            <div class="mt-4 text-center">
                <p class="text-sm text-gray-500 dark:text-gray-400">
                    Already have an account? <a href="{{ path('app_login') }}" class="text-blue-500 hover:underline">Log in here</a>
                </p>
            </div>

            <div class="mb-4 text-center">
                {{ form_row(registrationForm.isAuthor, {
                    label_attr: { class: 'text-sm text-gray-500 dark:text-gray-400' },
                    attr: { class: 'w-4 h-4 ml-2 text-blue-500 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600' }
                }) }}
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
