{% if this.categories is not empty %}

{% if title is not empty %}
    <h2 class="text-4xl text-center font-bold text-white">
        {{ title }}
    </h2>
{% endif %}

<div id="category-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative flex items-center overflow-hidden space-x-8">
        {% for category in this.categories %}
            <a href="/category/{{ category.slug }}" class="flex flex-col items-center">
                <div class="relative w-32 h-32 rounded-full overflow-hidden border-2 border-gray-300">
                    <img src="{{ asset('uploads/categories/' ~ category.img) }}"
                         class="w-full h-full object-cover"
                         alt="{{ category.title }}">
                </div>
                <span class="mt-2 text-center text-white font-medium">{{ category.title }}</span>
            </a>
        {% endfor %}
    </div>


    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white">
            <svg class="w-4 h-4 text-gray-800 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
        </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white">
            <svg class="w-4 h-4 text-gray-800 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 9 5 5 1 1"/>
            </svg>
        </span>
    </button>
</div>
{% endif %}
