
<aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">
            Related articles
        </h2>
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4 justify-center">
            {% for post in this.news %}
            <article class="max-w-xs">
                <a target="_blank" href="{{ post.slug }}">
                    <img src="{{ asset('uploads/posts/' ~ post.img) }}" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="{{ post.slug }}">{{ post.name }}</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">{{ post.description }}</p>
                <a target="_blank" href="{{ post.slug }}" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read more
                </a>
            </article>
            {% endfor %}
        </div>
    </div>
</aside>
